@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
    height: 100vh;
    position: relative;
}
.header-parent-container{
    background: #131921;
}
.logo-container{
    width: 20%;
}
.search-container{
    width: 50%;
}
.menu-outer-container{
    width: 30%;
}
#search{
    width: 100%;
    border: 1px solid black;
    border-radius:20px;
}
.list li{
    padding-left: 5em;
    color: white;
    cursor: pointer;
}
.child-body-container{
    width: 80%;
    row-gap: 2em;
}
.parent-body-container{
    padding: 1em 0px 0px 2em;
}
@media only screen and (max-width:650px){
    .header-parent-container{
        flex-direction: column;
    }
    .hamburger{
        display: block;
    }
    .logo-container{
        width: 100%;
        justify-content: space-between;
    }
    .search-container{
        width: 100%;
    }
    .list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .list li{
        padding: 0.5em;
    }
    .menu-outer-container{
        height: auto;
        width: 100%;
    }
    .product-parent-container{
        margin-top: 2em;
    }
}